kind: Deployment
apiVersion: app/v1
metadata:
  name: mrsarwar
spec:
  replicas: 2
  selector:
    matchables:
      app: mrsarwar
    spec:
      containers:
        - name: mrsarwar
          image: gsarwarsaif/pipeline-demo
          imagePullPolicy: Always
          ports:
          - containerPort: 80 22
