kind: Service
apoiVersion: v1
metadata: 
  name: mrsarwar
  labels:
    app: mrsarwar
spec:
  ports:
    - port: 8080
      targetPort:80
      neodePort: 31200
  selector:
    app: mrsarwar
  type: LoadBalancer